html {
  font-family: Helvetica, sans-serif;
  font-size: 0.9rem;
  color: #363A39;
  background-color: #2E3440;
  padding: 10px;
}

.head {
  position: relative;
  color: #5E81AC;
}

#versions {
  position: relative;
  background-color: #3B4252;
  height: 510px;
  margin-top: 20px;
  overflow: auto;
  color: #E5E9F0;
  padding: 10px 0px 0px 10px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.1rem;
  border-radius: 3px;
  box-sizing: border-box;
}

h1 {
  color: #8FBCBB;
}

.packageversion {
  font-weight: bold;
  color: #A3BE8C;
}

.packageversion1 {
  color: #EBCB8B;
}

.tools {
  margin-bottom: 10px;
}

input,
select {
  background-color: #3B4252;
  color: #E5E9F0;
  border: solid 1px #8FBCBB;
  font-size: 1rem;
  padding: 2px;
  border-radius: 3px;
}

input {
  width: 200px;
}

select {
  width: 101px;
}

input:focus,
select:focus {
  outline: none;
}

.button {
  background-color: #8FBCBB;
  border: solid 1px #8FBCBB;
  border-radius: 3px;
  color: #3B4252;
  cursor: pointer;
  display: inline-block;
  font-weight: 500;
  list-style: none;
  margin-left: 10px;
  padding: 3px 5px;
  text-align: center;
  transition: all 200ms;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 80px;
}

.button:hover {
  background-color: #789c9c;
}

.button:active {
  background-color: #8FBCBB;
}

/* Create a custom checkbox */
.container {
  margin-left: 10px;
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}


.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 14px;
  width: 14px;
  background-color: #3B4252;
  border: solid 1px #8FBCBB;
  border-radius: 3px;
}

/* When the checkbox is checked, add a blue background */
.container input:checked~.checkmark {
  background-color: #3B4252;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked~.checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  top: 2px;
  left: 2px;
  width: 8px;
  height: 8px;
  border: solid 1px #8FBCBB;
  border-radius: 1px;
  background-color: #8FBCBB;
}

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #8FBCBB;
  border-radius: 3px;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
  color: #E5E9F0;
}

.autocomplete-items div {
  padding: 2px;
  cursor: pointer;
  background-color: #3B4252;
}

.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}

.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: #8FBCBB !important;
  color: #3B4252;
}